@import url('kube.min.css');
@import url('elegant_ico.css');
@import url('less/kube.less');

body, html {
    /*background-color: #177199;*/
    background-image: url("../img/6875A3.png");
}
header{
    background-color: white;
}

#wrapper > row > column{
    background-color: white;
    padding: 10px;
}

h3.title {
    text-align: center;
}

.element{
    border: 1px solid #2f77d1;
    padding: 5px;
    /*border-radius: 15px;*/
    margin-bottom: 5px;
}
.element > .buttons {text-align: right}

/*children must have 10px left margin */
.element > .element{
    margin-left: 10px;
}

form > table td:nth-child(1) {float: right}
form > table textarea {width: 250px}
form > table input {width: 250px}

#content{
    background-color: #b5dbff;
    border: 2px solid #0e48ff;
    border-radius: 5px;
}

/*.control-panel a{float: right}*/
/*.control-panel p{float: left; clear: both}*/
.control-panel {padding: 5px; overflow:hidden}

.object-line {
    margin-left: 10px;
    padding: 5px;
    background-color: #0a8754;
    overflow: hidden;
}

.object-line > .info {float: left}
.object-line > .buttons {float: right}
.object-line > .editor {clear: both}

.object-line > .info > .field {

}