{% extends 'editors/child.html' %}

{% set title = title or 'Критерии' %}

{% macro iter_head() -%}
	<th>#</th>
	<th>Название</th>
	<th>Максимум баллов</th>
	<th>Описание</th>
{%- endmacro %}

{% macro iter_object(aspect) %}
	<td>{{ aspect.id }}</td>
	<td>{{ aspect.name }}</td>
	<td>{{ aspect.max_balls }}</td>
	<td>{{ aspect.description }}</td>
{% endmacro %}

{% block content %}
	{{ content(end_point='aspect',
	title_for='критерия',
	macro_table_head=iter_head,
	macro_row_object=iter_object,
	parent_end_point='sub_criterion') }}
{% endblock %}
