{% extends 'base.html' %}
{% block content %}
     <div class="editor" id="editor">
            <form action="{{ url_for('olympiads') }}" method="post">
                <table>
                    <tr>
                        <td>{{ form.name.label }}:</td>
                        <td>{{ form.name() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.date.label }}:</td>
                        <td>{{ form.date() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.description.label }}:</td>
                        <td>{{ form.description() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.hidden_tag() }}</td>
                        <td><input type="submit" value="Добавить" class="btn"/></td>
                    </tr>
                </table>
            </form>
        </div>
{% endblock %}