<!DOCTYPE html>
<html>
<head>
	{% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ url_for('static', filename='css/bootstrap-glyphicons.css') }}"   rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}"              rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}"                  rel="stylesheet">


        <script src="{{ url_for('static', filename='js/jquery.js') }}">                 </script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}">              </script>

        {% set title = title or 'Олимпиады' %}
        <title>{{ title }}</title>
	{% endblock %}
</head>

<body>

{#  Head menu    #}
<header>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-left">
                <a class="navbar-brand" href="/">Олимпиады ОАТ</a>

                {#  BreadCrumbs   #}
                {% if breadcrumbs %}
                    <div class="nav navbar-nav">
                        <ol class="breadcrumb">
                            {% for text, link in breadcrumbs[:-1] %}
                                <li><a href="{{ url_for(link) }}">{{ text }}</a></li>
                            {% endfor %}
                            <li class="active">{{ breadcrumbs[-1][0] }}</li>
                        </ol>
                    </div>
                    <br>
                {% endif %}
            </div>
            <ul class="nav navbar-nav navbar-right">

                <li><a class="btn" href="{{ url_for('olympiad') }}">Олимпиады</a></li>
            </ul>
        </div>
    </nav>
</header>

{#  Contents    #}
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1" id="wrapper">

		{# Main content block #}
        <div id="content">
			{% block content %}
                <li><a class="btn" href="{{ url_for('olympiad') }}">Олимпиады</a></li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur corporis, facilis
                    perspiciatis quis quo voluptate! Ad atque eos ex maxime quae! Consectetur cumque eos esse maxime
                    neque reiciendis tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur corporis, facilis
                    perspiciatis quis quo voluptate! Ad atque eos ex maxime quae! Consectetur cumque eos esse maxime
                    neque reiciendis tempora!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur corporis, facilis
                    perspiciatis quis quo voluptate! Ad atque eos ex maxime quae! Consectetur cumque eos esse maxime
                    neque reiciendis tempora!</p>
			{% endblock %}
        </div>

    </div>
</div>
</body>
</html>
