{% extends 'child.html' %}

{% set title = title or 'Модули' %}

{% macro iter_head() -%}
	<th>#</th>
	<th>Название</th>
	<th>Максимум баллов</th>
{%- endmacro %}

{% macro iter_object(criterion) %}
	<td>{{ criterion.id }}</td>
	<td>{{ criterion.name }}</td>
	<td>{{ criterion.max_balls }}</td>
{% endmacro %}

{% block content %}
	{{ content(end_point='criterion',
	title_for='модуля',
	macro_table_head=iter_head,
	macro_row_object=iter_object,
	parent_end_point='olympiad',
	sub_end_point='sub_criterion') }}
{% endblock %}
