{% extends 'base.html' %}

{% from 'macroses.html' import modal, show_flashed, adder_criterion, editor_criterion, delete_criterion %}

{% set title = title or 'Модули' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="">Управление</h4>

            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        data-toggle="modal" data-target="#editor-new">
                    <span class="glyphicon glyphicon-plus"></span> Добавить
                </button>

                <a class="btn btn-default" href="{{ url_for('criterion', parent_id=parent_id) }}">
                    <span class="glyphicon glyphicon-refresh"></span> Обновить
                </a>

            </div>
        </div>


        <div class="panel-body">
			{{ adder_criterion(form=form, parent_id=parent_id) }}

            <div class='flash-list'>
				{{ show_flashed() }}
	        </div>

            <table class="table table-striped" id="objects-table">
                <tbody>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Максимум баллов</th>
                    <th>Действия</th>
                </tr>
				{% set curent_balls = 0|float %}
				{% for criterion, form in objects %}


                    <tr class="info" id="info-{{ criterion.id }}">
                        <td>{{ criterion.id }}</td>
                        <td>{{ criterion.name }}</td>
                        <td>{{ criterion.max_balls }}</td>
						{% set curent_balls = curent_balls|float + criterion.max_balls|float %}

                        <td>
                            <span class="btn-group">
                                <button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#modal-editor-{{ criterion.id }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

{#                                <a class="btn btn-primary"#}
{#                                   href="{{ url_for('sub_criteria', **{'criterion_id':criterion.id}) }}">#}
{#                                    <span class="glyphicon glyphicon-th-list"></span>#}
{#                                </a>#}

                                <button type="button" class="btn btn-danger"
                                        data-toggle="modal" data-target="#modal-delete-{{ criterion.id }}">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>

                            </span>
                        </td>
                    </tr>
					{{ delete_criterion(id=criterion.id, parent_id=parent_id) }}
					{{ editor_criterion(form, end_point='criterion_edit', args={'parent_id': parent_id, 'id': criterion.id }, id=criterion.id) }}
				{% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="result-label">Всего:</td>
                        <td>
                            <div class="max_balls">
                                <span class="current">0</span>
                                /
                                <span class="max">100</span>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>


        </div>
        <script>
            var get_current_balls = function () {
                var curent_sum = 0;
                $('.info>td:nth-child(3)').each(function () {
                    curent_sum += parseFloat($(this).text());
                });

                $('div.max_balls>span.current').text(curent_sum);
            };
            $(document).ready(function () {
                get_current_balls();
            });
        </script>
    </div>


{% endblock %}