{% extends 'base.html' %}
{% block content %}
    <table>
        <thead>
        <th>Элемент</th>
        {% for member in members %}
            <th>{{ member.name }}</th>
        {% endfor %}

        </thead>
        <tbody>
        {% for object in hierarchy %}
            <tr>
                <td>{{ object.name }}</td>
                {% if  object.__class__ == 'Aspect' %}
                {# todo #}
                {# add here logic of assessment #}
                {% endif %}
            </tr>
        {% endfor %}

        <tr></tr>
        </tbody>
    </table>
{% endblock %}