{% extends 'base.html' %}
{# MACROS #}
{#{% macro test_draw_object(obj) -%}#}
{#    <div class="{{ obj.__class__.__name__ }} block">#}
{#        <span class="name">{{ obj.name }}</span>#}
{#        <span class="max-balls">{{ obj.max_balls }}</span>#}
{#        {% if obj.children %}#}
{#            <span class="btn-toggle">+</span>#}
{#        {% endif %}#}
{#        {% if obj.description %}#}
{#            <div class="description">{{ obj.description }}</div>#}
{#        {% endif %}#}
{#        {% if obj.children %}#}
{#            <div class="children">#}
{#                {% for child_obj in obj.children %}#}
{#                    {{ draw_object(child_obj) }}#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endif %}#}
{#    </div>#}
{#{%- endmacro %}#}


{% macro draw(obj) -%}
    {{ obj|safe }}
    {% if obj.children %}
        <div class="children">
        {% for children in  obj.children %}
            {{ draw(children) }}
        {% endfor %}
        </div>
    {% endif %}
{%- endmacro %}
{# MACROS END #}

{% block content %}
    <div class="group"></div>
    {% for olymp in olympiads %}
        {{ draw(olymp) }}
    {% endfor %}
{% endblock %}