{#  Macros  #}
{#  Print modal form for showing with buttons on JS  #}
{% macro modal(title, body, footer, form=False, attr_id=None, additional_cls='') -%}
    {# attr_id: id to button data-toggle  #}
    <div class="modal fade {{ additional_cls }} " tabindex="-1" role="dialog" id="{{ attr_id }}">
        <div class="modal-dialog">
            {{ form|safe }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ title|safe }}</h4>
                </div>
                <div class="modal-body">
                    {{ body|safe }}
                </div>
                <div class="modal-footer">
                    {{ footer|safe }}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
            {% if form %}
                </form>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro delete_object(title, body, attr_id, link, args) -%}
    {# attr_id: id to button data-toggle  #}
    {# link: string param to url_for #}
    {# args: dict of param to url_for ({id:1}) #}
    {% set link = url_for(link, **args) %}
    {% set form = '<form action="' ~ link ~ '" method="post">' %}

    {% set footer = '<input type="submit" value="Удалить" class="btn btn-danger"/>' %}

{#    {%- endset %}#}
    {{ modal(title=title, body=body, footer=footer, form=form, attr_id=attr_id) }}
{%- endmacro %}

{% macro delete_olympiad(attr_id) -%}
    {# attr_id: only number of object #}
    {% set link = 'del_olympiad' %}
    {% set args = {'id':attr_id} %}
    {% set attr_id = 'modal-delete-'~attr_id %}
    {% set title = 'Вы действительно хотите удалить эту олимпиаду?' %}
    {% set body -%}
        <p>
            Пути назад нет.
        </p>
    {#TODO#}
    {%- endset %}
    {{ delete_object(title=title, body=body, attr_id=attr_id, link=link, args=args) }}
{%- endmacro %}


{% macro editor(form, attr_id, link, args={}, new=None, title_for='объекта') -%}
    {% set modal_form -%}
        <form action="{{ url_for(link, **args) }}" method="post">
    {%- endset %}

    {% if new %}
        {% set modal_title = 'Добавление ' ~ title_for %}
        {% set btn_text = 'Добавить' %}
    {% else %}

        {% set modal_title = 'Изменение ' ~ title_for %}
        {% set btn_text = 'Изменить' %}
    {% endif %}

    {% set modal_body %}
        <div class="form-horizontal">
            {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ field.label }}:
                    {{ field(class="form-control", **kwargs) }}
                </div>
            {% endfor %}
        </div>
    {% endset %}

    {% set modal_footer %}
        {{ form.hidden_tag() }}
        <input type="submit" value="{{ btn_text }}" class="btn btn-default"/>
    {% endset %}

    {% if attr_id and not new %}
        {% set attr_id = 'modal-editor-' ~ attr_id %}
    {% endif %}

    {% set additional_cls='editor' %}

    {{ modal(title=modal_title, body=modal_body, footer=modal_footer, form=modal_form, attr_id=attr_id, additional_cls=additional_cls) }}
{%- endmacro %}

{% macro editor_olympiad(form, attr_id, link, args={}, new=None) %}
    {{ editor(form=form, attr_id=attr_id, link=link, args=args, new=new, title_for='олимпиады') }}
{% endmacro %}

{%  macro show_flashed() -%}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
{%- endmacro %}