{#  Macros  #}

{# Print all flash by category #}
{%  macro show_flashed() -%}
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message|safe }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
{%- endmacro %}

{#  Print modal window for showing with buttons on JS  #}
{% macro modal(title, body, footer, form=None, id=None, cls='') -%}
    {# id: id to button data-toggle  #}
    <div class="modal fade {{ cls }} " tabindex="-1" role="dialog" id="{{ id }}">
        <div class="modal-dialog">
            {{ form|safe }}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ title|safe }}</h4>
                </div>
                <div class="modal-body">
                    {{ body|safe }}
                </div>
                <div class="modal-footer">
                    {{ footer|safe }}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
            {% if form %}
                </form>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{# Print modal window-form #}
{# by default get ready to add-form #}
{% macro editor(form, end_point, args={}, id='editor-new', title='Добавление объекта', btn_text='Добавить') -%}
	{% set body -%}
		<div class="form-horizontal">
			{% for field in form if field.widget.input_type != 'hidden' %}
			<div class="form-group">
				{{ field.label }}:
				{{ field(class="form-control", **kwargs) }}
			</div>
			{% endfor %}
		</div>
	{%- endset %}

	{% set footer -%}
		{{ form.hidden_tag() }}
		<input type="submit" value="{{ btn_text }}" class="btn btn-default">
	{% endset %}

	{% set form = '<form action="' ~ url_for(end_point, **args) ~ '" method="POST">' %}

	{{ modal(title=title, body=body, footer=footer, form=form, id=id, cls='editor') }}
{% endmacro %}


{% macro delete_object(title, body, attr_id, link, args) -%}
    {% set link = url_for(link, **args) %}
    {% set form = '<form action="' ~ link ~ '" method="POST">' %}
    {% set footer = '<input type="submit" value="Удалить" class="btn btn-danger"/>' %}

    {{ modal(title=title, body=body, footer=footer, form=form, id=attr_id) }}
{%- endmacro %}

{##########################}
{####### OLYMPIADS #######}
{##########################}
{% macro adder_olympiad(form) %}
    {{ editor(form=form, end_point='olympiad_add', title_for='Добавление олимпиады') }}
{% endmacro %}

{% macro editor_olympiad(form, end_point, id, args) %}
	{{ editor(form=form, end_point=end_point, args=args, id='modal-editor-' ~ id, title='Изменение олимпиады', btn_text='Изменить') }}
{% endmacro %}

{% macro delete_olympiad(id) -%}
    {% set link = 'olympiad_delete' %}
    {% set args = {'id':id} %}
    {% set attr_id = 'modal-delete-'~id %}
    {% set title = 'Вы действительно хотите удалить эту олимпиаду?' %}
    {% set body = '<p>Пути назад нет.</p>' -%}
    {#TODO#}
    {{ delete_object(title=title, body=body, attr_id=attr_id, link=link, args=args) }}
{%- endmacro %}

{##########################}
{####### CRITERION #######}
{##########################}
{% macro adder_criterion(form, parent_id) %}
    {{ editor(form=form, end_point='criterion_add', args={'parent_id':parent_id}, title_for='Добавление модуля') }}
{% endmacro %}

{% macro editor_criterion(form, end_point, id, args) %}
	{{ editor(form=form, end_point=end_point, args=args, id='modal-editor-' ~ id, title='Изменение модуля', btn_text='Изменить') }}
{% endmacro %}

{% macro delete_criterion(id, parent_id) -%}
    {% set link = 'criterion_delete' %}
    {% set args = {'id':id, 'parent_id':parent_id} %}
    {% set attr_id = 'modal-delete-'~id %}
    {% set title = 'Вы действительно хотите удалить этот модуль?' %}
    {% set body = '<p>Пути назад нет.</p>' -%}
    {#TODO#}
    {{ delete_object(title=title, body=body, attr_id=attr_id, link=link, args=args) }}
{%- endmacro %}
