{% extends 'base.html' %}

{% from 'macroses.html' import modal, editor_olympiad as editor, show_flashed, delete_olympiad %}

{% set title = title or 'Олимпиады' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="">Управление</h4>

            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        data-toggle="modal" data-target="#editor-new">
                    <span class="glyphicon glyphicon-plus"></span> Добавить
                </button>

                <a class="btn btn-default" href="{{ url_for('olympiads') }}">
                    <span class="glyphicon glyphicon-refresh"></span> Обновить
                </a>

                <a class="btn btn-default" href="/">
                    <span class="glyphicon glyphicon-bed"></span> Выставить результаты
                </a>

            </div>

        </div>
        <div class='flash-list'>
			{{ show_flashed() }}
        </div>


        <div class="panel-body">
			{{ editor(form=form, attr_id='editor-new', link='olympiad_add', args={}, new=True) }}

            <table class="table table-striped" id="objects-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Дата</th>
                        <th>Описание</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>

                {% for olympiad, form in olympiads %}
                    <tr class="info" id="info-{{ olympiad.id }}">
                        <td>{{ olympiad.id }}</td>
                        <td>{{ olympiad.name }}</td>
                        <td>{{ olympiad.date }}</td>
                        <td>{{ olympiad.description }}</td>
                        <td>
                            <span class="btn-group">

                                <button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#modal-editor-{{ olympiad.id }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <a class="btn btn-primary"
                                   href="{{ url_for('criteria', **{'olympiad_id':olympiad.id}) }}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                </a>

                                <button type="button" class="btn btn-danger"
                                        data-toggle="modal" data-target="#modal-delete-{{ olympiad.id }}">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>

                            </span>
                        </td>
                    </tr>
                    {{ delete_olympiad(attr_id=olympiad.id) }}
                    {{ editor(form, link='olympiad_edit', args={'id': olympiad.id}, attr_id=olympiad.id) }}
                {% endfor %}
                </tbody>
            </table>
    </div>

{% endblock %}