{% extends 'base.html' %}

{% from 'macroses.html' import modal, editor, show_flashed %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="">Управление</h4>

            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        data-toggle="modal" data-target="#editor-new">
                    <span class="glyphicon glyphicon-plus"></span> Добавить
                </button>

                <a class="btn btn-default" href="/">
                    <span class="glyphicon glyphicon-bed"></span> Выставить результаты
                </a>

                <a class="btn btn-default" href="/">
                    <span class="glyphicon glyphicon-plus-sign"></span> Проверить состояние
                </a>

                <a class="btn btn-default" href="/">
                    <span class="glyphicon glyphicon-plus-sign"></span> Просмотреть
                </a>

            </div>
        </div>

        {{ show_flashed() }}

        <div class="panel-body">
                {{ editor(form, 'olympiads', {}, attr_id='editor-new') }}
        </div>

        <table class="table">
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Описание</th>
                <th>Действия</th>
            </tr>
            {% for olympiad, form in olympiads %}
                <tr class="info" id="info-{{ olympiad.id }}">
                    <td>{{ olympiad.id }}</td>
                    <td>{{ olympiad.name }}</td>
                    <td>{{ olympiad.date }}</td>
                    <td>Open</td>
                    <td>{{ olympiad.description }}</td>
                    <td>
                    <span class="btn-group">
                        <button type="button" class="btn btn-primary"
                                data-toggle="modal" data-target="#modal-editor-{{ olympiad.id }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <a class="btn btn-danger" href="{{ url_for('olympiads') }}" id="delete-{{ olympiad.id }}">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </span>
                    </td>
                </tr>
                {{ editor(form, link='edit_olympiads', args={'id': olympiad.id}, attr_id=olympiad.id) }}
            {% endfor %}
        </table>
    </div>


{% endblock %}