{% extends 'base.html' %}

{% from 'macroses.html' import modal, show_flashed, adder_olympiad, editor_olympiad, delete_olympiad %}

{% set title = title or 'Олимпиады' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="">Управление</h4>

            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        data-toggle="modal" data-target="#editor-new">
                    <span class="glyphicon glyphicon-plus"></span> Добавить
                </button>

                <a class="btn btn-default" href="{{ url_for('olympiad') }}">
                    <span class="glyphicon glyphicon-refresh"></span> Обновить
                </a>

                <a class="btn btn-default" href="/">
                    <span class="glyphicon glyphicon-bed"></span> Выставить результаты
                </a>

            </div>

        </div>



        <div class="panel-body">
			{{ adder_olympiad(form=form) }}
			<div class='flash-list'>
				{{ show_flashed() }}
	        </div>
        {% if objects %}
            <table class="table table-striped" id="objects-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Дата</th>
                        <th>Описание</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>

                {% for olympiad, form in objects %}
                    <tr class="info" id="info-{{ olympiad.id }}">
                        <td>{{ olympiad.id }}</td>
                        <td>{{ olympiad.name }}</td>
                        <td>{{ olympiad.date }}</td>
                        <td>{{ olympiad.description }}</td>
                        <td>
                            <span class="btn-group">

                                <button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#modal-editor-{{ olympiad.id }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <a class="btn btn-primary"
                                   href="{{ url_for('criterion', **{'parent_id':olympiad.id}) }}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                </a>

                                <button type="button" class="btn btn-danger"
                                        data-toggle="modal" data-target="#modal-delete-{{ olympiad.id }}">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>

                            </span>
                        </td>
                    </tr>
                    {{ delete_olympiad(id=olympiad.id) }}
	                {{ editor_olympiad(form=form, end_point='olympiad_edit', id=olympiad.id, args={'id': olympiad.id}) }}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
	        <p>Объектов ещё нет!</p>
        {% endif %}

    </div>

{% endblock %}