{% extends 'base.html' %}

{% from 'macroses.html' import modal, editor_olympiad as editor, show_flashed, delete_sub_criterion %}

{% set title = title or 'ПодМодули' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="">Управление</h4>

            <div class="btn-group">
                <button type="button" class="btn btn-default"
                        data-toggle="modal" data-target="#editor-new">
                    <span class="glyphicon glyphicon-plus"></span> Добавить
                </button>

                <a class="btn btn-default" href="{{ url_for('sub_criteria', criterion_id=criterion_id) }}">
                    <span class="glyphicon glyphicon-refresh"></span> Обновить
                </a>

            </div>
        </div>
        <div class='flash-list'>
            {{ show_flashed() }}
        </div>


        <div class="panel-body">
			{{ editor(form=form, attr_id='editor-new', link='sub_criterion_add', args={'criterion_id': criterion_id}, new=True) }}
            <table class="table table-striped" id="objects-table">
            <tbody>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Максимум баллов</th>
                    <th>Действия</th>
                </tr>
                {% for sub_criterion, form in sub_criteria %}
                    <tr class="info" id="info-{{ sub_criterion.id }}">
                        <td>{{ sub_criterion.id }}</td>
                        <td>{{ sub_criterion.name }}</td>
                        <td>{{ sub_criterion.max_balls }}</td>
                        <td>
                            <span class="btn-group">
                                <button type="button" class="btn btn-primary"
                                        data-toggle="modal" data-target="#modal-editor-{{ sub_criterion.id }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <a class="btn btn-primary" href="{{ url_for('aspects', **{'sub_criterion_id':sub_criterion.id}) }}">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                </a>

                                <button type="button" class="btn btn-danger"
                                        data-toggle="modal" data-target="#modal-delete-{{ sub_criterion.id }}">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>

                            </span>
                        </td>
                    </tr>
                    {{ delete_sub_criterion(attr_id=sub_criterion.id, criterion_id=criterion_id) }}
                    {{ editor(form, link='sub_criterion_edit', args={'criterion_id': criterion_id, 'sub_criterion_id': sub_criterion.id }, attr_id=sub_criterion.id) }}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td class="result-label">Всего:</td>
                    <td>
                        <div class="max_balls">
                            <span class="current">0</span>
                            /
                            <span class="max">{{ criterion_max_balls }}</span>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        </div>
        <script>
            var get_current_balls = function () {
                var current_sum = 0;
                $('.info>td:nth-child(3)').each(function () {
                    current_sum += parseFloat($(this).text());
                });
                return current_sum;
            };
            $(document).ready(function () {
                $('div.max_balls>span.current').text(get_current_balls());
            });
        </script>
    </div>

{% endblock %}