{% extends 'child.html' %}

{% set title = title or 'Подмодули' %}

{% macro iter_head() -%}
	<th>#</th>
	<th>Название</th>
	<th>Максимум баллов</th>
{%- endmacro %}

{% macro iter_object(sub_criterion) %}
	<td>{{ sub_criterion.id }}</td>
	<td>{{ sub_criterion.name }}</td>
	<td>{{ sub_criterion.max_balls }}</td>
{% endmacro %}

{% block content %}
	{{ content(end_point='sub_criterion',
	title_for='подмодуля',
	macro_table_head=iter_head,
	macro_row_object=iter_object,
	parent_end_point='criterion',
	sub_end_point='aspect') }}
{% endblock %}
