{% extends 'child.html' %}

{% set title = title or 'Подмодули' %}

{% macro adder_sub_criterion(form, args) %}
	{{ editor(form=form, end_point='sub_criterion_add', args=args, title_for='Добавление подмодуля') }}
{% endmacro %}

{% macro editor_sub_criterion(form, args) %}
	{{ editor(form=form, end_point='sub_criterion_edit', args=args, id='modal-editor-' ~ args['id'],
	          title='Изменение модуля', btn_text='Изменить') }}
{% endmacro %}

{% macro delete_sub_criterion(args) -%}
	{% set link = 'sub_criterion_delete' %}
{#	{% set args = {'id':id, 'parent_id':parent_id} %}#}
	{% set attr_id = 'modal-delete-'~args['id'] %}
	{% set title = 'Вы действительно хотите удалить этот подмодуль?' %}
	{% set body = '<p>Пути назад нет.</p>' -%}
	{{ delete_object(title=title, body=body, attr_id=attr_id, link=link, args=args) }}
{%- endmacro %}

{% macro iter_head() -%}
	<th>#</th>
	<th>Название</th>
	<th>Максимум баллов</th>
{%- endmacro %}

{% macro iter_sub_criterion(sub_criterion) %}
	<td>{{ sub_criterion.id }}</td>
	<td>{{ sub_criterion.name }}</td>
	<td>{{ sub_criterion.max_balls }}</td>
{% endmacro %}
{#sub_end_point='sub_criterion',#}
{% block content %}
	{{ content(end_point='sub_criterion', form=form, parent_id=parent_id,
			   macro_add=adder_sub_criterion,
			   macro_edit=editor_sub_criterion,
			   macro_delete=delete_sub_criterion,
			   macro_table_head=iter_head,
			   macro_row_object=iter_sub_criterion,
			   maximum_balls=maximum_balls) }}
{% endblock %}
