{% extends 'base.html' %}
{% block content %}
    <h2 class="title"> {{ olympiad.name }} </h2>
    <div class="criteria">
        {% for criterion in olympiad.children %}
            {{ criterion.name }}
            <div class="sub_criteria">
                {% for sub_criterion in criterion.children %}
                    <a href="{{ url_for('assessment_sub_criterion', id=sub_criterion.id) }}">
                        {{ sub_criterion.name }}
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <a class="btn btn-primary" href="{{ url_for('olympiad_results', id=olympiad.id) }}">
        К текущим результатам
    </a>
{% endblock %}